@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: "Fredoka";
  src: url("fonts/Fredoka-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("fonts/Nunito-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("fonts/UbuntuMono-Regular.ttf") format("ttf");
}

@theme inline {
  --font-nunito: var(--font-nunito);
  --font-fredoka: var(--font-fredoka);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}